Django==2.2.13
django-heroku==0.3.1
django-widget-tweaks==1.4.5
docutils==0.14
en-core-web-sm==2.2.5
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.7
gunicorn==20.0.4
html5lib==1.0.1
imageio==2.4.1
imagesize==1.1.0
numpy==1.15.4
numpydoc==0.8.0
pandas==1.0.3
Pillow==8.2.0
plotly==4.5.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
seaborn==0.9.0
